@model Docary.Models.Account.LogOnModel

@{
    ViewBag.Title = "Log On";
}

@section Menu {
    <ul>        
        <li>@Html.ActionLink("Back", "Welcome", "Home")</li>                    
        <li>@Html.ActionLink("Logon", "Logon", "Account")</li>                
    </ul>
}

<h2>Logon</h2>

<p>
    Please enter your user name and password. @Html.ActionLink("Register", "Register") if you don't have an account.
</p>

@using (Html.BeginForm()) {   
    @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
    
    <div class="form-container">            
        <div class="form-label">
            @Html.LabelFor(m => m.UserName)  
        </div>
        <div class="form-input">
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
        </div>

        <div class="form-label">
            @Html.LabelFor(m => m.Password)            
        </div>
        <div class="form-input">
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>

         <div>
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </div>

        <div class="form-actions">
            <input type="submit" value="Logon" />
        </div>        
    </div>
}
