@model Docary.Models.Account.RegisterModel

@{
    ViewBag.Title = "Register";
}

@section Menu {
    <ul>        
        <li>@Html.ActionLink("Back", "Welcome", "Home")</li>                    
        <li>@Html.ActionLink("Logon", "Logon", "Account")</li>                
    </ul>
}

<h2>Create a New Account</h2>
<p>
    Use the form below to create a new account. 
</p>
<p>
    Passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <div>
                @Html.LabelFor(m => m.UserName)            
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

             <div>
                @Html.LabelFor(m => m.Email)            
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>

             <div>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

             <div>
                @Html.LabelFor(m => m.ConfirmPassword)            
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <p>
                <input type="submit" value="Register" />
            </p>
        </fieldset>
    </div>
}
