@model Docary.ViewModels.Shared.Account.RegisterModel

@{
    ViewBag.Title = "Register";
}

@section Menu {
    <ul>        
        <li>@Html.ActionLink("Back", "Welcome", "Home")</li>                    
        <li>@Html.ActionLink("Logon", "Logon", "Account")</li>                
    </ul>
}

<h2>Create a New Account</h2>
<p>
    Passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    
    <div class="form-container">                        
        <div class="form-label">
            @Html.LabelFor(m => m.UserName)            
        </div>
        <div class="form-input">
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
        </div>

        <div class="form-label">
            @Html.LabelFor(m => m.Email)            
        </div>
        <div class="form-input">
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>

        <div class="form-label">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="form-input">
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>

        <div class="form-label">
            @Html.LabelFor(m => m.ConfirmPassword)            
        </div>
        <div class="form-input">
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>

        <div class="form-actions">
            <input type="submit" value="Register" />
        </div>       
    </div>
}
