@{
    ViewBag.Title = "Index";
}

@model Docary.ViewModels.Desktop.HomeIndexViewModel

@section JavaScript {
    <script type="text/javascript">
        $(function () {
            $("#From").datepicker();
            $("#To").datepicker();
        });
    </script>
}

@section Menu {
    @{ Html.RenderPartial("_MenuLoggedOn"); }
}

@using (Html.BeginForm("Index", "Home"))
{               
     <div class="form-container">                        
        <div class="form-label">
            From
        </div>   
        <div class="form-input"> 
           @Html.TextBox("From", Model.From.Value.ToShortDateString())
           @Html.ValidationMessageFor(m => m.From)
        </div>

        <div class="form-label">
            To
        </div>
        <div class="form-input">
            @Html.TextBox("To", Model.To.Value.ToShortDateString())
            @Html.ValidationMessageFor(m => m.To)
        </div>
    
        <div class="form-actions">
            <input type="submit" value="Search" />    
        </div>
    </div>       
}

<br />

@foreach (var entryGroup in Model.EntryGroups)
{    
    <div>
    <div class="timeline-header">@entryGroup.Date.ToShortDateString()</div>
        @foreach (var entry in entryGroup.Entries.OrderBy(e => e.Start))
        {
            int width = Convert.ToInt32(entry.Percentage * 10);
            string divstyle = string.Format("width:{0}px;background-color:{1}", width, entry.Color);        
            
            <div style="@divstyle" class="timelineblock" title="@entry.Title"></div>
        }
    </div>
    <br />
}