@{
    ViewBag.Title = "Statistics";
}

@model Docary.ViewModels.Desktop.HomeStatisticsViewModel

@section JavaScript {
    <script type="text/javascript">
        $(function () {
            $("#From").datepicker();
            $("#To").datepicker();
        });
    </script>
}

@section Menu {
    @{ Html.RenderPartial("_MenuLoggedOn"); }
}

@using (Html.BeginForm("Statistics", "Home"))
{               
     <div class="form-container">                        
        <div class="form-label">
            From
        </div>   
        <div class="form-input"> 
           @Html.TextBox("From", Model.From.Value.ToShortDateString())
           @Html.ValidationMessageFor(m => m.From)
        </div>

        <div class="form-label">
            To
        </div>
        <div class="form-input">
            @Html.TextBox("To", Model.To.Value.ToShortDateString())
            @Html.ValidationMessageFor(m => m.To)
        </div>
    
        <div class="form-actions">
            <input type="submit" value="Search" />    
        </div>
    </div>       
}

<br />

@if (Model.HasFirstEntry && Model.HasLatestEntry)
{
    <p>You have added @Model.NumberOfEntries entries so far. The first one was at @Model.FirstEntry and the last one at @Model.LatestEntry.</p>
}
else
{
    <p>There are no entries yet!</p>
}

@if (Model.HasFirstEntry)
{
    var biggestPercentage = Convert.ToInt32(Model.PerTag.Items.Max(i => i.Percentage));
    
    <table>    
        @foreach (var item in Model.PerTag.Items)
        {
            var maxWidth = 1100;
            var itemPercentage = item.Percentage;
            var width = Convert.ToInt32((maxWidth / biggestPercentage) * itemPercentage);
            var widthPx = width == 0 ? "1px" : width.ToString() + "px";
        
            <tr>
                <td class="header-base statistics-line-header">@item.TagName</td>
                <td class="timelineblock" width="@widthPx">
                    <div style="background-color:@item.TagColor" title="(@item.Time.Days day(s), @item.Time.Hours hour(s), @item.Time.Minutes minute(s))">&nbsp;</div>
                </td>
            </tr>  
        }    
    </table>
}