@{
    ViewBag.Title = "Statistics";
}

@model Docary.ViewModels.Desktop.HomeStatisticsViewModel

@section Menu {
    @{ Html.RenderPartial("_MenuLoggedOn"); }
}

<p>Number of entries: @Model.NumberOfEntries</p>

@if (Model.HasFirstEntry)
{
    <p>First entry: @Model.FirstEntry</p>
}

@if (Model.HasLatestEntry)
{
    <p>Last entry: @Model.LatestEntry</p>
}

@if (Model.HasFirstEntry)
{
    foreach (var item in Model.PerTag.Items)
    {
        <p>@item.Tag.Name: @item.Percentage (@item.Hours)</p>
    }
}