@{
    ViewBag.Title = "Statistics";
}

@model Docary.ViewModels.Desktop.HomeStatisticsViewModel

@section Menu {
    @{ Html.RenderPartial("_MenuLoggedOn"); }
}

@if (Model.HasFirstEntry && Model.HasLatestEntry)
{
    <p>You have added @Model.NumberOfEntries entries so far. The first one was at @Model.FirstEntry and the last one at @Model.LatestEntry.</p>
}
else
{
    <p>There are no entries yet!</p>
}

@if (Model.HasFirstEntry)
{
    var biggestPercentage = Convert.ToInt32(Model.PerTag.Items.Max(i => i.Percentage));
    
    <table>    
        @foreach (var item in Model.PerTag.Items)
        {
            var itemPercentage = Convert.ToInt32(Math.Ceiling(item.Percentage));
            var width = (1000 / biggestPercentage) * itemPercentage;
            var widthPx = width.ToString() + "px";
        
            <tr>
                <td class="timeline-header">@item.Tag.Name</td>
                <td class="timelineblock" width="@widthPx">
                    <div style="background-color:@item.Tag.Color" title="(@item.Time.Days day(s), @item.Time.Hours hour(s), @item.Time.Minutes minute(s))">&nbsp;</div>
                </td>
            </tr>  
        }    
    </table>
}