@{
    ViewBag.Title = "Home Page";
}

@model Docary.ViewModels.HomeIndexViewModel

@foreach (var entryGroup in Model.EntryGroups)
{
    var firstEntryGroup = true;
    var dataCollapsed = (!firstEntryGroup).ToString().ToLower();
    
    <div data-role="collapsible" data-theme="c" data-content-theme="c" data-collapsed="@dataCollapsed">
		<h3>@entryGroup.Date.ToString("dd/MM/yyyy")</h3>						
      
        <ul data-role="listview" data-inset="true" data-theme="d">        
            @foreach (var entry in entryGroup.Entries)
            {           
                <li>
                    @entry.CreatedOn.ToString("HH:mm") @entry.Description                     
                </li>         
            }
        </ul>
    </div>           
    
    firstEntryGroup = false;    
}     

@Html.ActionLink("Add new entry", "Add", "Entry")
